! ------------------------------------------------------------------------------
! ROFI
! ------------------------------------------------------------------------------
rofi.fullscreen:                     true
!rofi.width:                          50
!rofi.lines:                          10
rofi.padding:                        150
rofi.xoffset:			     500
rofi.font:                           Overpass Light 16
! State:                             BG        FG      BGalt     HLBG    HLFg
rofi.color-normal:                   #00000000,#dedede,#00000000,#00000000,#3083ae
rofi.color-urgent:                   #00000000,#dedede,#00000000,#00000000,#cc0000
rofi.color-active:                   #00000000,#dedede,#00000000,#00000000,#3083ae
!                                    BG        Border  Sep
rofi.color-window:                   #e5000000,#000000,#dedede
rofi.bw:                             0
rofi.location:                       0
rofi.fixed-num-lines:                true
rofi.terminal:                       termite -e
rofi.case-sensitive:                 false
! rofi.line-margin:                    2
! rofi.line-padding:                   1
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.fake-transparency:              false

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.autohint:		    true
Xft.rgba:                   subpixel
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
