[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target

[Service]
User=rouill_a
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/rouill_a/bin/lock

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
